<section id="portfolio">
    <div class="container">
       <div class="text-center py-4 text-style"> <h1 class="fw-bold">PORTFOLIO COMPONENT</h1>
        <div class="ic"> <i class="fa-solid fa-star"></i></div>

       </div>

       <div class="row gy-4 py-4">
        <div class="col-md-4">
            <div class="img-1" > <img src="./assets/poert1.png" class="w-100 rounded" alt="">
                <div class="img-plus w-100 h-100 rounded " routerLink="img1" > <i class="fa-solid fa-plus"></i></div>
            </div>
           
        </div> 
        <div class="col-md-4">
            <div class="img-2" > <img src="./assets/port2.png" class="w-100" alt="">
                <div class="img-plus2 w-100 h-100 rounded " routerLink="img2"> <i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        
          
        <div class="col-md-4">
            <div class="img-3"> <img src="./assets/port3.png" class="w-100" alt="">
                <div class="img-plus3 w-100 h-100 rounded " routerLink="img3"> <i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-4"> <img src="./assets/poert1.png" class="w-100" alt="">
                <div class="img-plus4 w-100 h-100 rounded " routerLink="img1"> <i class="fa-solid fa-plus"></i></div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="img-5"> <img src="./assets/port2.png" class="w-100" alt="">
                <div class="img-plus5 w-100 h-100 rounded " routerLink="img2"> <i class="fa-solid fa-plus"></i></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-6"> <img src="./assets/port3.png" class="w-100" alt="">
                <div class="img-plus6 w-100 h-100 rounded " routerLink="img3"> <i class="fa-solid fa-plus"></i></div>
            
            </div>
        </div>

    </div>

    </div>

    <router-outlet></router-outlet>

  
   
   
</section>
